:root{
    --side:1
}

.Home{
    text-align: center;
    color:white;
    align-items: center;
}

.container{
    position: relative;
    left: 50%;
    width: 512px;
    height: 512px;
    transform: translate(-50%, 0%);
}

.neuron{
    position: absolute;
    top: 0px;
    left: 0px;
}

@keyframes Naway {
    from {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    to {
        position: absolute;
        top: 0px;
        left: calc(var(--side)*20px);
    }
}

@keyframes Nback {
    from {
        position: absolute;
        top: 0px;
        left: calc(var(--side)*20px);
    }
    to {
        position: absolute;
        top: 0px;
        left: 0px;
    }   
}

.neuronBack{
    position: absolute;
    top: 0px;
    left: 0px;
    animation-name: Nback;
    animation-duration: 0.5s;
}

.neuronBackHovered{
    position: absolute;
    top: 0px;
    left: calc(var(--side)*20px);
    animation-name: Naway;
    animation-duration: 1s;
}

@keyframes away {
    from {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    to {
        position: absolute;
        top: 0px;
        left: calc(var(--side)*40px);

    }
}

@keyframes back {
    from {
        position: absolute;
        top: 0px;
        left: calc(var(--side)*40px);
    }
    to {
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.background{
    position: absolute;
    top: 0px;
    left: 0px;
    animation-name: back;
    animation-duration: 0.5s;
}

.backgroundHovered{
    position: absolute;
    top: 0px;
    left: calc(var(--side)*40px);
    animation-name: away;
    animation-duration: 1s;

}

@keyframes enlarge{
    from {font-size: 28px;}
    to {font-size: 32px;}
}

@keyframes shrink {
    from {font-size: 32px;}
    to {font-size: 28px;}    
}

.neuronLinks{
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    animation-name: shrink;
    animation-duration: .5s;
}

.neuronLinksHovered{
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    animation-name: enlarge;
    animation-duration: 1s;
}

.Contact{
    position: absolute;
    bottom: 100px;
    left: 450px;
}

.FirstApp{
    position: absolute;
    top: 150px;
    left: 300px;
}
